<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DataProvider" value="MySql.Data.MySqlClient" />
    <add key="ConnectionStringName" value="MySql_Teste" />-->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="ConnectionStringName" value="SqlServer_Teste" />
  </appSettings>
  <conectionStrings>
    <add name="SqlServer_Teste" connectionString="Server=localhost;Database=db_devsis_estoque;User Id=admin; Password=abc123" providerName="System.Data.SqlClient"/>
    <add name="MySql_Teste" connectionString="Server=localhost;Database=db_devsis_estoque;Uid=admin;Pwd=abc123;Connect Timeout=30;" providerName="MySql.Data.MySqlClient"/>
  </conectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
